.vs/

# Build output
**/bin/
**/obj/

# User-specific files
*.user
*.rsuser
*.suo

# Logs
*.log

# Test and coverage output
TestResults/
coverage/
*.coverage
*.coveragexml

# Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

# VS Code local workspace settings
.vscode/

# NuGet
*.nupkg
packages/

# appsettings
# Ignore all appsettings JSON files
**/appsettings*.json

# ignore all sqlite db and related files
**/*.db
**/*.db-shm
**/*.db-wal
